/* GRID (csak a teszt oldalhoz) */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

/* CARD WRAPPER */
.product-card {
  position: relative;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.232);
  background: rgba(215, 178, 76, 0.95);
  overflow: hidden;
  perspective: 1200px;
  cursor: pointer;
}
.product-card:hover {
  outline: 3px solid lime;
}

/* FLIP CONTAINER */
.card-inner {
  position: relative;
  height: 420px;
  transform-style: preserve-3d;
  transition: transform 600ms cubic-bezier(0.2, 0.8, 0.2, 1);
  -webkit-transform-style: preserve-3d;
}

.product-card:hover .card-inner,
.product-card:focus-within .card-inner {
  transform: rotateY(180deg);
}

/* FRONT / BACK */
.card-face {
  position: absolute;
  inset: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card-back {
  transform: rotateY(180deg);
  background: rgba(215, 178, 76, 0.95);
}

/* BADGE */
.product-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  background: rgba(206, 185, 126, 0.95);
  border: 1px solid #10131361;
  color: #101313;
  padding: 6px 10px;
  border-radius: 888px;
  font-size: 12px;
  font-weight: 800;
}

/* FRONT CONTENT */
.product-card__img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.product-card__body {
  padding: 14px 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card__title {
  margin: 0;
  font-size: 18px;
}

.product-card__desc {
  margin: 0;
  /* color: #b8b8b8; */
  font-size: 18px;
}

.product-card__meta {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  font-size: 16px;
  /* color: #b8b8b8; */
}

.hint {
  margin-top: auto;
  font-size: 14px;
  /* color: #999; */
}

/* BACK CONTENT */
.card-back__body {
  padding: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-back__title {
  margin: 0;
  font-size: 16px;
}

.availability {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
}

.availability li {
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(206, 185, 126, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 14px;
}

/* CTA */
.card-back__cta {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.btn-mini--accent {
  flex: 1;
  text-align: center;
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(75, 87, 87, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.173);
  text-decoration: none;
  font-size: 14px;
  color: #101313;
}

/* ACCESSIBILITY */
@media (prefers-reduced-motion: reduce) {
  .card-inner {
    transition: none;
  }
  .product-card:hover .card-inner,
  .product-card:focus-within .card-inner {
    transform: none;
  }
  .card-back {
    display: none;
  }
}
